[Desktop Entry]
Name=Slimbook Battery
Version=4.0.7beta
Exec=slimbookbattery
Comment=Show notifications of your battery status and manage energy!
Icon=/usr/share/pixmaps/slimbookbattery.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Utility;
Name[es_ES]=Slimbook Battery
