/* GENERAL */
#win_bttns button, #close_button {
    margin: 10px;
}

#version {
    padding: 20px;
}

#modes {
    font-size: x-large;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

#notebook {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 40px;
    margin-bottom: 10px;
}

/* WHEN LOW RESOLUTION */
#notebook_min {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#smaller_label label {
    font-size: small;
}

#title {
    padding-top: 30px;
}

#radio_grid{
    margin-top: 20px;
}

#link{
    background: transparent;
    box-shadow: none;
    font-weight: bold;
}

/* #restore {
    background-image: url('../../images/interface/btn3.png');
    background-image: linear-gradient(to right, rgb(136, 135, 135) 0%, transparent 100%);
}
#accept {
    background-image: url('../../images/interface/btn1.png');
    background-image: linear-gradient(to right, green 0%, transparent 100%);
}
#cancel {
    background-image: url('../../images/interface/btn2.png');  
    background-image: linear-gradient(to right, rgb(211, 24, 24) 0%, transparent 100%);
} */


scrolledwindow *{
    border: none;
    border-image: none;
}
 
window>grid>box>button {
    margin: 10px;
    background: rgb(23, 24, 23);
    border: 1px solid rgb(39, 161, 15);
    border-style: outset;
    border-radius: 5px;
}

window>grid>box>button:hover {    
    outline-style: solid;
    outline-offset: -2px;
    outline-width: 2px;
}

window>grid>box button:hover, window>grid>box button:checked{
    /* background-image: radial-gradient(ellipse at center,green 0%, transparent 100%); */
    /* margin-bottom: 3px; */
    background-color: rgb(50, 50, 50);
}

combobox>box>entry, entry {
    background-color: white;
    background: white;
    color: black;
    border-radius: 0px;
    border: none;
}

combobox>box>button {
    background-color: rgb(2, 126, 2);
    background: green;
    color: white;
}

combobox>box>button:disabled {
    background-color: rgb(0, 100, 0);
    background: rgb(0, 100, 0);
    color: white;
}

radio, radiobutton, radiobutton:checked, radiobutton:selected{
    color: green;
    background: transparent;
    
}

radiobutton:checked, radiobutton:active{
    border: none;
}

window label, scale *{
    color: white;
}

/* WINDOW */
window{
    background-color: rgb(0, 0, 0);
    /* background-image: radial-gradient(ellipse at center,green 80%, transparent 100%); */
}

stack {
    margin-top: -1px;
}

/* NOTEBOOK */

notebook stack button {
    background: green;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

notebook stack button:hover {
    background: rgb(0, 95, 0);
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

notebook > *{
    background-color: transparent;
}

notebook header, notebook, stack{
    border: 1px solid rgb(0, 0, 0);
}

notebook stack {
    background-image: url('../../images/interface/stack-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

stack>grid>grid, scrolledwindow grid{
    padding: 20px;
    padding-top: 30px;
}

/* TABS */

header > tabs > tab {
    background-image: url('../../images/interface/tab.png');
    border: none;
    box-shadow: none;
    background-size: 100% 100%;
    background-color: transparent;
}

header > tabs > tab:hover, header > tabs > tab:checked {
    background-image: url('../../images/interface/current-tab.png');
    border: none;
    background-color: transparent;
}

header > tabs label {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}
