#close_button, window>grid>box>button{
    margin: 10px;
}

#modes {
    font-size: x-large;
    font-weight: bold;
}

stack>grid {
    padding: 20px;
    padding-top: 10px;
}

stack>grid>grid, scrolledwindow grid{
    padding: 20px;
    padding-top: 10px;
}

window notebook{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px;
    margin-bottom: 10px;
}