window{
    background-image: linear-gradient(rgb(39, 38, 38) 0%, rgb(20, 20, 20) 100%);
}

/* dialog grid *{
    border-width: 1px;
    border-color: red;
    border-style: solid;
} 
 */
window notebook > *{
    background-color: transparent;
}

dialog button {
    border-radius: 10px;
}

window label, scale *{
    color: white;
}

/* stack * {
    border-width: 1px;
    border-color: red;
    border-style: solid;
} */

#version {
    padding: 20px;
}

notebook {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 50px;
    margin-bottom: 40px;
}

notebook stack{
    margin-top: 20px;
}

#win_bttns button {
    margin: 10px;
}

/* header > tabs > tab {
    background: green;
    color: white;
    border-image: none;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 8px 8px 0px 0px;
    border-bottom: none;

} */


combobox, entry {
    background-color: white;
    background: white;
    color: black;
    border-radius: 0px;
}

/* switch {
    background: red;
    background-color: green;
    color: white;
} */

#modes {
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
}

radio, radiobutton, radiobutton:checked, radiobutton:selected{
    color: green;

}

#radio_grid{
    margin-top: 20px;
}



notebook header, notebook, stack{
    border-width: 0px;
}


header > tabs > tab {
    background: green;
    box-shadow: none;
    margin-right: 10px;
}

button{
    background: green;
    box-shadow: none
}

#link{
    background: transparent;
    box-shadow: none;
    font-weight: bold;
}


header > tabs > tab:hover, header > tabs > tab:checked, button:hover, button:checked {
    background: rgb(1, 68, 1);
    border-image: none;
}

window>buttons {
    margin: 10px;
}