/* window * {
    border: 1px solid red
} */

/* GENERAL */
#win_bttns button, #close_button {
    margin: 10px;
}

#version {
    padding: 20px;
}

#modes {
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
}

#radio_grid{
    margin-top: 20px;
}

#link{
    background: transparent;
    box-shadow: none;
    font-weight: bold;
}

#restore {
    background-image: url('../../images/interface/btn3.png');
    /* background-image: linear-gradient(to right, rgb(136, 135, 135) 0%, transparent 100%); */
}
#accept {
    background-image: url('../../images/interface/btn1.png');
    /* background-image: linear-gradient(to right, green 0%, transparent 100%); */
}
#cancel {
    background-image: url('../../images/interface/btn2.png');  
    /* background-image: linear-gradient(to right, rgb(211, 24, 24) 0%, transparent 100%); */
}

combobox>box>entry, entry {
    background-color: white;
    background: white;
    color: black;
    border-radius: 0px;
    border: none;
}

combobox>box>button {
    background-color: green;
    background: green;
    color: white;
}
combobox>box>button:disabled {
    background-color: rgb(0, 100, 0);
    background: rgb(0, 100, 0);
    color: white;
}


radio, radiobutton, radiobutton:checked, radiobutton:selected{
    color: green;
    background: transparent;
}

window label, scale *{
    color: white;
}
radiobutton:checked, radiobutton:active{
    border: none;
}

/* WINDOW */

window{
    background-image: linear-gradient(rgb(39, 38, 38) 0%, rgb(20, 20, 20) 100%);
}

/* WINDOW BUTTONS */

window button:hover label, window button:checked label{
    /* background-image: radial-gradient(ellipse at center,green 0%, transparent 100%); */
    margin-bottom: 3px;
}
window button{
    background: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* NOTEBOOK */
notebook {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 40px;
    margin-bottom: 10px;
}

window notebook > *{
    background-color: transparent;
}

notebook header, notebook box, tab box{
    border: none;
}

notebook stack {
    padding: 20px;
    background-image: url('../../images/interface/stack-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}


/* TABS */

header > tabs > tab {
    background-image: url('../../images/interface/tab.png');
    border: none;
    box-shadow: none;
    background-size: 100% 100%;
}

window header > tabs > tab:hover, window header > tabs > tab:checked {
    background-image: url('../../images/interface/current-tab.png');
    border: none;
    background-color: transparent;
}

window header > tabs label {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}
