[Desktop Entry]
Type=Application
Exec=python3 /usr/share/slimbookbattery/src/slimbookbatteryindicator.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[es_ES]=slimbookbattery-autostart.desktop
Name=Slimbook Battery Autostart
Comment[es_ES]=Arranque de autoinicio de Slimbook Battery
Comment=Slimbook Battery's autostart executable
X-GNOME-Autostart-Delay=2